<nav class="navbar navbar-inverse shadow-line sticky-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right sticky-top">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Galery</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

        <div class='circular  shadow-semi-circular'>
          <img src="assets/images/profile_pic2.jpg" alt="">
        </div>
            

      </div>

    </div>
</nav>