<div data-aos="fade-up" data-aos-duration="3000">
  <footer class="container-fluid text-rigth">
    <div class="row" style="padding-left: 3%;">
      <div class="col-sm-4" >
        <h3>Nelson Arnoldo Jimenez Martinez</h3> 
        <h4>email: jmnel_mar@hotmail.com</h4>
        <h4>phone: 4159605959</h4> 
      </div>
  
      <div class="col-sm-4" >
        <h3>Connect</h3>
        <a href="" class="fa fa-facebook"></a>
        <a href="" class="fa fa-twitter"></a>
        <!--<a href="" class="fa fa-google"></a>-->
        <a href="" class="fa fa-linkedin"></a>
        <!--<a href="" class="fa fa-youtube"></a>-->
      </div>  
    </div>
  </footer>
</div>
